# Turn on rewrites.
RewriteEngine on
 
# Don't apply to URLs that go to existing files or folders.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
 
# Only apply to URLs that aren't already under /wp.
RewriteCond %{REQUEST_URI} !^/wp/
 
# Rewrite all those to insert /wp.
RewriteRule ^(.*)$ /wp/$1
 
# Redirect the root folder.
RewriteCond %{HTTP_HOST} ^(www.)?localhost:8888$
RewriteRule ^(/)?$ wp/ [L]
